<table class="genre-table table table-bordered table-hover shadow-sm">
  <thead class="genre-thead">
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
    <tr>
      <td><%= link_to genre.name, items_path(genre_search: "true", genre_id: genre.id), class: "text-dark" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
